* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #060ab2;
}

.memory-game {
  margin: auto;
  display: flex;
  width: 90vw;
  height: 90vh;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  height: 9rem;
	width: 9rem;
	margin: 0.2rem 0.2rem;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/* Winning Screen */
.win-screen {
  display: none;
  margin: auto;
  width: 30vw;
  height: 60vh;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', Arial, sans-serif;
  border-radius: 20px;
  text-align: center;
}

.win-screen h1 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.win-screen a {
  color: black;
  text-decoration: none;
  padding: 20px;
  font-size: 1.3rem;
  border-radius: 50px;
  border: 3px solid #060ab2;
  background-color: rgba(28, 125, 204, 0.575);
}